#include "ex03pm.h"
#include <os2.h>

POINTER AL_ICON "alpmicon.ico"

DLGTEMPLATE AL_MAIN_DIALOG 
BEGIN
	DIALOG "OS/2 Example 03", AL_MAIN_DIALOG, 29, 6, 281, 182, 0, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_TASKLIST
	BEGIN
		CONTROL "Archive file list", AL_ARCHIVE, 29, 103, 75, 63, WC_LISTBOX, LS_MULTIPLESEL | WS_VISIBLE | WS_GROUP
		CONTROL "Backup Archive", AL_BACKUP_ARCHIVE, 185, 103, 77, 56, WC_LISTBOX, WS_VISIBLE | WS_TABSTOP
		CONTROL "Delete", AL_DELETE, 12, 9, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Abort", AL_ABORT, 84, 9, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "About", AL_ABOUT, 156, 9, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Exit", AL_EXIT, 228, 9, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "", AL_ARCHIVE_NAME, 30, 74, 75, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", AL_BACKUP_ARCHIVE_NAME, 184, 74, 81, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Sample", AL_PROGRESS_BAR, 119, 98, 50, 61, WC_SLIDER, SLS_VERTICAL | SLS_LEFT | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_READONLY | SLS_RIBBONSTRIP | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 40, 2, 10, 9
		CONTROL "Sample", AL_PROGRESS_TEXT, 40, 47, 99, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Status", 999, 8, 47, 33, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", AL_MESSAGE, 147, 27, 128, 42, WC_MLE, MLS_BORDER | MLS_WORDWRAP | MLS_HSCROLL | MLS_VSCROLL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Archive Contents:", IDC_STATIC, 28, 161, 77, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Archive Contents:", IDC_STATIC, 184, 161, 77, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Archive Name:", IDC_STATIC, 28, 88, 65, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Backup Archive Name:", IDC_STATIC, 178, 88, 93, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE AL_ABOUT_DIALOG 
BEGIN
	DIALOG "About", AL_ABOUT_DIALOG, 10, 10, 130, 93, 0, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		ICON AL_ICON, AL_ICON, 54, 71, 21, 16, WS_GROUP
		CTEXT "Archive Library 2.1", AL_ABOUT_TEXT, 6, 53, 118, 10
		DEFPUSHBUTTON "OK", DID_OK, 43, 9, 40, 14
		CONTROL "Copyright (c) 1996", 206, 26, 31, 80, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "OS/2 Example 03", 207, 31, 42, 68, 10, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END
