#include "ex04pm.h"
#include <os2.h>

POINTER AL_ICON "alpmicon.ico"

DLGTEMPLATE AL_MAIN_DIALOG 
BEGIN
	DIALOG "OS/2 Example 04", AL_MAIN_DIALOG, 29, 87, 281, 101, 0, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_TASKLIST
	BEGIN
		CONTROL "Archive file list", AL_FILES, 8, 30, 75, 63, WC_LISTBOX, LS_MULTIPLESEL | WS_VISIBLE | WS_GROUP
		CONTROL "Cycle", AL_CYCLE, 17, 5, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Abort", AL_ABORT, 83, 5, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "About", AL_ABOUT, 149, 5, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Exit", AL_EXIT, 215, 5, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Status:", 99, 93, 67, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Percent done:", 99, 93, 45, 63, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Progress Text", AL_PROGRESS_TEXT, 156, 67, 109, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Percent done", AL_PROGRESS_NUMBER, 156, 45, 121, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE AL_ABOUT_DIALOG 
BEGIN
	DIALOG "About", AL_ABOUT_DIALOG, 10, 10, 130, 93, 0, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		ICON AL_ICON, AL_ICON, 54, 71, 21, 16, WS_GROUP
		CTEXT "Archive Library 2.1", AL_ABOUT_TEXT, 16, 53, 96, 10
		DEFPUSHBUTTON "OK", DID_OK, 43, 9, 40, 14
		CONTROL "Copyright (c) 1996", 206, 26, 31, 80, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "OS/2 Example 04", 207, 30, 42, 73, 10, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END
