#include "ex05pm.h"
#include <os2.h>

POINTER AL_ICON "alpmicon.ico"

DLGTEMPLATE AL_MAIN_DIALOG 
BEGIN
	DIALOG "OS/2 Example 05", AL_MAIN_DIALOG, 25, 32, 285, 101, 0, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_TASKLIST
	BEGIN
		CONTROL "Destroy Object Twice", AL_DESTROY_TWICE, 24, 72, 107, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Exit", AL_EXIT, 159, 18, 107, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "About", AL_ABOUT, 24, 18, 107, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Write past end", AL_WRITE_PAST_END, 24, 45, 107, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Undershoot", AL_UNDERSHOOT, 159, 72, 107, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Delete bad pointer", AL_DELETE_BAD_PTR, 159, 46, 107, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END

DLGTEMPLATE AL_ABOUT_DIALOG 
BEGIN
	DIALOG "About", AL_ABOUT_DIALOG, 10, 10, 130, 93, 0, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		ICON AL_ICON, AL_ICON, 54, 71, 21, 16, WS_GROUP
		CTEXT "Archive Library 2.1", AL_ABOUT_TEXT, 15, 53, 99, 10
		DEFPUSHBUTTON "OK", DID_OK, 43, 9, 40, 14
		CONTROL "Copyright (c) 1996", 206, 26, 31, 80, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "OS/2 Example 05", 207, 30, 42, 72, 10, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END
