#include "ex15pm.h"
#include <os2.h>

POINTER AL_ICON "alpmicon.ico"

DLGTEMPLATE AL_MAIN_DIALOG 
BEGIN
	DIALOG "Archive Library 2.0 OS/2 Demo", AL_MAIN_DIALOG, 7, -4, 242, 210, 0, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_TASKLIST
	PRESPARAMS PP_FONTNAMESIZE "9.Helvetica"
	BEGIN
		CONTROL "Exit", AL_EXIT, 166, 88, 62, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Directory", AL_DIRECTORY, 23, 138, 76, 69, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "8.System"
                CONTROL "Wild card", AL_DIR_MASK, 23, 115, 76, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Archive Contents", AL_CONTENTS, 143, 138, 76, 69, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "8.System"
		CONTROL "About", AL_ABOUT, 90, 88, 62, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Read Dir", AL_READ_DIR, 14, 88, 62, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "Archive Name", AL_ARCHIVE_NAME, 87, 74, 136, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "Archive Version", AL_ARCHIVE_VERSION, 87, 60, 136, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "Status Code", AL_ARCHIVE_STATUS_CODE, 87, 46, 136, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "Status String", AL_ARCHIVE_STATUS_STRING, 87, 32, 136, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "Status Detail", AL_ARCHIVE_STATUS_DETAIL, 87, 18, 136, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "First Duplicate Entry", AL_FIRST_DUPLICATE_ENTRY, 87, 4, 136, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END

DLGTEMPLATE AL_ABOUT_DIALOG 
BEGIN
	DIALOG "Product Information", AL_ABOUT_DIALOG, 10, 10, 130, 93, 0, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		ICON AL_ICON, AL_ICON, 54, 71, 21, 16, WS_GROUP
		CTEXT "Archive Library 2.0", AL_ABOUT_TEXT, 6, 53, 118, 10
		DEFPUSHBUTTON "OK", DID_OK, 43, 9, 40, 14
		CONTROL "Copyright (c) 1996", 206, 26, 31, 80, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "OS/2 Demonstration", 207, 23, 42, 88, 10, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END
