#include "ex20pm.h"
#include <os2.h>

POINTER AL_ICON "alpmicon.ico"

DLGTEMPLATE AL_MAIN_DIALOG 
BEGIN
	DIALOG "OS/2 Example 20", AL_MAIN_DIALOG, 7, 97, 257, 158, 0, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_TASKLIST
	BEGIN
		CONTROL "Exit", AL_EXIT, 146, 13, 83, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Directory", AL_FILES, 23, 37, 76, 103, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "8.System"
		CONTROL "About", AL_ABOUT, 28, 13, 83, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "", AL_FILE_NAME, 113, 121, 127, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", AL_UNIX_TIME_STAMP, 113, 92, 127, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", AL_DATE_AND_TIME, 113, 65, 127, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", AL_YEARS_SINCE_1970, 113, 38, 127, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Files:", IDC_STATIC, 24, 135, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "File Name:", IDC_STATIC, 113, 135, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "UNIX Time Stamp:", IDC_STATIC, 113, 106, 88, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Date and Time:", IDC_STATIC, 113, 79, 75, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Years Since 1970:", IDC_STATIC, 113, 53, 82, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE AL_ABOUT_DIALOG 
BEGIN
	DIALOG "About", AL_ABOUT_DIALOG, 10, 10, 130, 93, 0, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		ICON AL_ICON, AL_ICON, 54, 71, 21, 16, WS_GROUP
		CTEXT "Archive Library 2.1", AL_ABOUT_TEXT, 6, 53, 118, 10
		DEFPUSHBUTTON "OK", DID_OK, 43, 9, 40, 14
		CONTROL "Copyright (c) 1996", 206, 26, 31, 80, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "OS/2 Example 20", 207, 31, 42, 72, 10, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END
