#include "ex23pm.h"
#include <os2.h>

POINTER AL_ICON "alpmicon.ico"

DLGTEMPLATE AL_MAIN_DIALOG 
BEGIN
	DIALOG "OS/2 Example 23", AL_MAIN_DIALOG, 17, 24, 339, 187, 0, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_TASKLIST
	BEGIN
		CONTROL "Exit", AL_EXIT, 240, 106, 83, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "About", AL_ABOUT, 240, 122, 83, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Compress", AL_COMPRESS, 240, 157, 83, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_TABSTOP
		CONTROL "Abort", AL_ABORT, 240, 139, 83, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "*.*", AL_INPUT_FILES, 15, 158, 192, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", AL_TOTAL_INPUT, 15, 105, 88, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", AL_TOTAL_COMPRESSED, 15, 74, 88, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", AL_RATIO, 117, 105, 92, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", AL_TOTAL_TIME, 117, 74, 92, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", AL_FILE, 15, 132, 88, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", AL_BYTE_COUNT, 117, 132, 92, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Compress Only", AL_COMPRESS_ONLY, 240, 85, 77, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "AL_RESULTS", AL_RESULTS, 15, 10, 302, 45, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "6.System VIO"
		CONTROL "Input Files:", IDC_STATIC, 15, 173, 52, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "File:", IDC_STATIC, 15, 146, 23, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Byte Count:", IDC_STATIC, 117, 146, 53, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Total Input:", IDC_STATIC, 15, 119, 52, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Ratio:", IDC_STATIC, 117, 119, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Total Compressed:", IDC_STATIC, 15, 89, 83, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Total Time:", IDC_STATIC, 117, 89, 56, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Files:", IDC_STATIC, 15, 58, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE AL_ABOUT_DIALOG 
BEGIN
	DIALOG "About", AL_ABOUT_DIALOG, 10, 10, 130, 93, 0, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		ICON AL_ICON, AL_ICON, 54, 71, 21, 16, WS_GROUP
		CTEXT "Archive Library 2.1", AL_ABOUT_TEXT, 21, 53, 87, 10
		DEFPUSHBUTTON "OK", DID_OK, 43, 9, 40, 14
		CONTROL "Copyright (c) 1996", 206, 26, 31, 80, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "OS/2 Example 23", 207, 29, 42, 73, 10, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END
