minIcon ICON icons\w_demo.ico
hardDrive BITMAP bitmaps\w_hdrive.bmp
softDrive BITMAP bitmaps\w_sdrive.bmp
networkDrive BITMAP bitmaps\w_ndrive.bmp
file BITMAP bitmaps\w_file.bmp
_file BITMAP bitmaps\_w_file.bmp
string BITMAP bitmaps\w_string.bmp
fmtstr BITMAP bitmaps\w_fmtstr.bmp
text BITMAP bitmaps\w_text.bmp
date BITMAP bitmaps\w_date.bmp
time BITMAP bitmaps\w_time.bmp
number BITMAP bitmaps\w_number.bmp
button BITMAP bitmaps\w_button.bmp
radio BITMAP bitmaps\w_radio.bmp
_radio BITMAP bitmaps\_w_radio.bmp
check BITMAP bitmaps\w_check.bmp
_check BITMAP bitmaps\_w_check.bmp
hlist BITMAP bitmaps\w_hlist.bmp
vlist BITMAP bitmaps\w_vlist.bmp
combo BITMAP bitmaps\w_combo.bmp
hscroll BITMAP bitmaps\w_hscrll.bmp
vscroll BITMAP bitmaps\w_vscrl.bmp
_vscroll BITMAP bitmaps\_w_vscrl.bmp
window BITMAP bitmaps\w_window.bmp
toolbar BITMAP bitmaps\w_tlbar.bmp
_toolbar BITMAP bitmaps\_w_tlbar.bmp
prompt BITMAP bitmaps\w_prmpt.bmp
_prompt BITMAP bitmaps\_w_prmpt.bmp
group BITMAP bitmaps\w_group.bmp
_group BITMAP bitmaps\_w_group.bmp
icon BITMAP bitmaps\w_icon.bmp
_icon BITMAP bitmaps\_w_icon.bmp
desk ICON icons\w_desk.ico
analog ICON icons\w_analog.ico
wdesign ICON icons\w_design.ico
parentDirectory BITMAP bitmaps\w_pdrct.bmp
_parentDirectory BITMAP bitmaps\_w_pdrct.bmp
childDirectory BITMAP bitmaps\w_cdrct.bmp
_childDirectory BITMAP bitmaps\_w_cdrct.bmp
popitem BITMAP bitmaps\w_popitm.bmp
popmenu BITMAP bitmaps\w_popmnu.bmp
pllitem BITMAP bitmaps\w_plitm.bmp
_pllitem BITMAP bitmaps\_w_plitm.bmp
pllmenu BITMAP bitmaps\w_plmnu.bmp
_pllmenu BITMAP bitmaps\_w_plmnu.bmp
font BITMAP bitmaps\w_font.bmp
_font BITMAP bitmaps\_w_font.bmp

